/*
 public style
 * */
.ovfHiden {
  overflow: hidden;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: "microsoft yahei","MicrosoftYaHeiLight";
  -webkit-text-size-adjust: none; }

html, body {
  width: 100%;
  height: 100%; }

.verticalTop {
  vertical-align: top; }

.verticalMiddle {
  vertical-align: middle; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.375rem;
  color: #d3d7d4; }

input:-moz-placeholder, textarea:-moz-placeholder {
  font-size: 0.375rem;
  color: #d3d7d4; }

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 0.375rem;
  color: #d3d7d4; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 0.375rem;
  color: #d3d7d4; }

textarea {
  resize: none; }

strong, em {
  font-weight: normal; }

a {
  text-decoration: none; }

em {
  font-style: normal; }

ul, ol {
  list-style: none; }

html {
  -webkit-tap-highlight-color: transparent; }

.textcenter {
  text-align: center; }

.btn {
  width: 5.625rem;
  height: 1rem;
  line-height: 1rem;
  background-color: #f15438;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 0.437rem;
  display: inline-block; }

a.btn:hover, a.btn:visited, a.btn:link {
  color: #fff; }

.clearfix:after {
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  content: ""; }

.mt24 {
  margin-top: 0.375rem; }

.colorf15438 {
  color: #f15438 !important; }

.color969696 {
  color: #969696 !important; }

.colorff806b {
  color: #ff806b; }

.flex, .footer_Info, .listHead, .list_suce ul {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center; }

.head_top {
  height: 1.5625rem;
  position: relative; }
  .head_top > div {
    padding-top: 0.15625rem;
    position: absolute;
    top: 50%;
    right: 0.375rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    display: table-cell;
    font-size: 0.46875rem; }
    .head_top > div a {
      color: #282828;
      vertical-align: middle; }
    .head_top > div a:last-child {
      margin-left: 0.35938rem; }

.createNoteBtn {
  display: inline-block;
  font-size: 0.375rem;
  padding: 0.14063rem 0.3125rem;
  border-radius: 0.09375rem;
  -webkit-border-radius: 0.09375rem;
  -moz-border-radius: 0.09375rem;
  -ms-border-radius: 0.09375rem;
  text-align: center;
  background-color: #f15438;
  color: #fff !important; }
  .createNoteBtn > i {
    margin-right: 0.21875rem;
    display: inline-block;
    height: 0.35938rem;
    width: 0.35938rem;
    background: url("../img/create.png") 0 0 no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    vertical-align: -0.03125rem; }

.mgt23 {
  margin-top: 0.35938rem; }

.head {
  background-color: #fff;
  border: 1px solid transparent;
  border-bottom: 1px solid #dcdcdc; }

.head_content {
  margin-top: 0.375rem;
  padding: 0.375rem;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  position: relative; }
  .head_content img {
    float: left;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px; }

.headInfo {
  margin-left: 2.3125rem; }
  .headInfo dt {
    font-size: 0.4375rem;
    color: #282828;
    padding: 0.15625rem 0 0.35938rem; }
    .headInfo dt > i {
      display: inline-block;
      height: 0.46875rem;
      width: 0.46875rem;
      background: url("../img/v0.jpg") 0 0 no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
      margin-left: 0.23438rem; }
  .headInfo dd {
    font-size: 0.3125rem;
    line-height: 0.3125rem; }
    .headInfo dd > a:first-child {
      padding-right: 0.35938rem;
      border-right: 1px solid #dcdcdc;
      color: #969696; }
    .headInfo dd > a:last-child {
      padding-left: 0.35938rem;
      color: #969696; }

.atten_btn {
  position: absolute;
  top: 0.53125rem;
  right: 0.375rem;
  border: 1px solid #EE6868;
  font-size: 0.3125rem;
  line-height: 0.625rem;
  height: 0.625rem;
  width: 1.5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  text-align: center;
  color: #EE6868; }

.success_detail {
  display: table;
  width: 100%;
  font-size: 0.4375rem;
  line-height: 0.59375rem;
  padding: 0.35938rem 0 0.29688rem; }
  .success_detail > span {
    display: table-cell;
    text-align: center;
    color: #282828;
    line-height: 0.59375rem; }
    .success_detail > span em {
      font-size: 0.34375rem;
      color: #969696;
      line-height: 0.46875rem; }

.moreBtn {
  text-align: center;
  margin-top: 0.375rem; }
  .moreBtn > a {
    display: inline-block;
    background-color: #f15438;
    color: #fff;
    font-size: 0.4375rem;
    height: 1rem;
    line-height: 1rem;
    width: 44%;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px; }
    .moreBtn > a:hover {
      color: #fff; }
  .moreBtn > a:last-child {
    margin-left: 0.625rem; }

.btnDis {
  text-align: center;
  padding: 0 0.375rem; }
  .btnDis .btn1 {
    display: block;
    width: auto;
    background-color: #e6e6e6;
    color: #a1a1a1; }
    .btnDis .btn1:hover {
      color: #a1a1a1; }
  .btnDis .btnable {
    background-color: #f15438;
    color: #fff; }
    .btnDis .btnable:hover {
      color: #fff; }

.btnDisdefalut {
  background-color: #e6e6e6 !important;
  color: #a1a1a1 !important; }

.dialog_tip_cont {
  display: none;
  padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.46875rem;
  white-space: nowrap;
  z-index: 1000; }

.loading {
  font-size: 0.4375rem;
  text-align: center;
  background: #fff;
  display: none; }
  .loading > a {
    width: 6.25rem;
    display: inline-block;
    color: #ccc;
    padding: 0.3125rem 0; }
  .loading img {
    height: 0.78125rem;
    width: 0.78125rem;
    vertical-align: middle; }
  .loading span {
    vertical-align: middle;
    margin-left: 0.15625rem; }

#footer {
  padding-top: 0.3125rem;
  position: absolute;
  bottom: 2px;
  width: 100%; }

.footAdap {
  position: relative;
  padding-bottom: 1.875rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  min-height: 100%; }

.line, .footer_fg > .left, .footer_fg > .right {
  top: 50%;
  border-bottom: 1px solid #c9c9c9;
  width: 35%;
  position: absolute; }

.footer_fg {
  position: relative;
  margin-bottom: 0.23438rem;
  font-size: 0.375rem;
  line-height: 0.375rem;
  color: #c9c9c9; }
  .footer_fg > p {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    padding: 0 0.46875rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%); }
  .footer_fg > .left {
    left: 0; }
  .footer_fg > .right {
    right: 0; }

.footer_authInfo {
  font-size: 0.3125rem;
  line-height: 0.3125rem;
  display: inline-block;
  width: 100%;
  color: #c9c9c9 !important;
  text-align: center;
  margin-bottom: 0.23438rem; }
  .footer_authInfo > span {
    color: #007AFF; }

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100; }

.close {
  position: absolute;
  right: 0;
  top: -1.0625rem;
  display: inline-block;
  height: 0.6875rem;
  width: 0.6875rem;
  background: url("../img/close.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  display: none; }

.dialog_cont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  width: 8.51563rem;
  z-index: 10;
  background-color: #fff; }

.dialog_head {
  background: url(../img/dialog_headbg.png) 0 0 no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 0.46875rem;
  height: 1.375rem;
  line-height: 1.375rem; }

.dialog_body {
  padding: 0.64063rem 0.70313rem 0 0.70313rem; }
  .dialog_body > ul {
    line-height: 0.5625rem;
    list-style-type: none;
    font-size: 0.375rem; }
    .dialog_body > ul > li {
      margin-top: 10px; }
      .dialog_body > ul > li > p:first-child {
        color: #ff806b; }
      .dialog_body > ul > li > p {
        color: #969696;
        display: table-cell; }
    .dialog_body > ul > li:first-child {
      margin-top: 0; }

.dialog_footer {
  text-align: center;
  padding: 0.9375rem 0 0.3125rem; }
  .dialog_footer > a {
    display: inline-block;
    width: 3.59375rem;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    background-color: #ff806b;
    font-size: 0.4375rem; }

.textalign {
  text-align: center; }

.readPeopleInfo {
  font-size: 0.34375rem;
  line-height: 0.53125rem; }
  .readPeopleInfo a:first-child {
    padding-right: 0.15625rem; }
  .readPeopleInfo a:last-child {
    padding-left: 0.15625rem; }
  .readPeopleInfo a > span {
    margin: 0 0.07813rem; }
  .readPeopleInfo a > span:last-child {
    margin: 0;
    margin-left: 0.07813rem; }

.showLike {
  display: inline-block;
  height: 0.45313rem;
  width: 0.5rem;
  background: url("../img/likeNum.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle; }

.showLike:nth-child(3) {
  margin-left: 0.46875rem; }

.showLike + span {
  vertical-align: middle; }

.defalut_good {
  display: inline-block;
  height: 0.51563rem;
  width: 0.53125rem;
  background: url("../img/nogood.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle; }

.good {
  display: inline-block;
  height: 0.51563rem;
  width: 0.53125rem;
  background: url("../img/good.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle; }

.default_nogood {
  display: inline-block;
  height: 0.51563rem;
  width: 0.53125rem;
  background: url("../img/nogood.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg); }

.nogood {
  display: inline-block;
  height: 0.51563rem;
  width: 0.53125rem;
  background: url("../img/good.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg); }

.readPeopleInfo1 {
  font-size: 0.34375rem;
  color: #979797; }
  .readPeopleInfo1 > i {
    vertical-align: middle; }

.opeartor {
  float: right; }
  .opeartor > span {
    margin: 0 0.3125rem;
    vertical-align: super; }

.user-list > li {
  float: left;
  padding: 5%;
  position: relative; }
  .user-list > li > img {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 3px;
    box-sizing: border-box;
    left: 0;
    top: 0; }
.user-list li > a {
  position: absolute;
  margin: 3px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #d8d8d8; }
.user-list .showMore {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 100%;
  font-size: 0.46875rem;
  line-height: 0;
  height: 12px;
  color: #969696; }

.tcode_mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }

.tcode_img {
  text-align: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  font-size: 0.3125rem; }
  .tcode_img > div {
    padding: 0.78125rem 0.78125rem 0.15625rem 0.78125rem; }
    .tcode_img > div > p {
      line-height: 0.46875rem;
      margin-top: 0.15625rem;
      margin-bottom: 0.15625rem; }
  .tcode_img img {
    width: 4.6875rem;
    height: 4.6875rem;
    vertical-align: middle; }

.tcode_btn {
  width: 100%;
  border-top: 1px solid #ccc;
  height: 1.09375rem;
  line-height: 1.09375rem;
  color: #007AFF;
  font-size: 0.4375rem; }

.why, .why1 {
  display: inline-block;
  width: 0.42188rem;
  height: 0.42188rem;
  background: url(../img/why.png) 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-left: 5px; }

.why1 {
  background: url(../img/why1.png) 0 0 no-repeat;
  background-size: 100% 100%; }

#switch {
  padding-left: 0.625rem;
  color: #969696;
  font-size: 0.4375rem;
  border-bottom: 1px solid #DCDCDC; }
  #switch > span {
    padding: 0.3125rem 0;
    display: inline-block; }
  #switch span:nth-child(n+2) {
    margin-left: 0.9375rem; }

.on {
  color: #EE6868;
  border-bottom: 2px solid #EE6868; }

.pageCont {
  positon: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

.footer_Info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #DCDCDC;
  height: 1.51563rem;
  background-color: #fff;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  z-index: 2; }
  .footer_Info > a {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    display: block;
    text-align: center;
    width: 25%; }
  .footer_Info > a:nth-child(1):hover .index {
    background-image: url(../img/indexhover.png); }
  .footer_Info > a:nth-child(2):hover .note {
    background-image: url(../img/notehover.png); }
  .footer_Info > a:nth-child(3):hover .writeNote {
    background-image: url(../img/writeNotehover.png); }
  .footer_Info > a:nth-child(4):hover .my {
    background-image: url(../img/myhover.png); }

.index {
  display: inline-block;
  height: 0.5625rem;
  width: 0.5625rem;
  background: url("../img/index.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle; }

.note {
  display: inline-block;
  height: 0.5625rem;
  width: 0.5625rem;
  background: url("../img/note.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle; }

.writeNote {
  display: inline-block;
  height: 0.5625rem;
  width: 0.5625rem;
  background: url("../img/writeNote.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle; }

.my {
  display: inline-block;
  height: 0.5625rem;
  width: 0.5625rem;
  background: url("../img/my.png") 0 0 no-repeat;
  background-size: 100% 100%;
  vertical-align: middle; }

.index + span, .note + span, .writeNote + span, .my + span {
  display: block;
  font-size: 0.3125rem;
  color: #979797;
  margin-top: 0.1875rem; }

.colorf15438 {
  color: #f15438; }

.colorff6000 {
  color: #ff6000; }

.flex, .footer_Info, .listHead, .list_suce ul {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center; }

.header_cont {
  padding-bottom: 0; }

.listHead {
  background: #f5f5f5;
  height: 0.98438rem;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  padding: 0 0.375rem;
  font-size: 0.375rem;
  color: #afafaf;
  width: 100%;
  box-sizing: border-box; }
  .listHead > li {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1; }
  .listHead > li:nth-child(1) {
    width: 42%; }
  .listHead > li:nth-child(2) {
    text-align: left;
    width: 37.5%; }
  .listHead > li:nth-child(3) {
    width: 20%;
    text-align: right; }

.tab {
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  height: 1.35938rem;
  text-align: center;
  line-height: 1.35938rem; }
  .tab > div {
    position: absolute;
    bottom: -1px;
    width: 50%;
    height: 100%;
    font-size: 0.4375rem;
    color: #969696; }
  .tab .ending {
    left: 50%; }
  .tab .active {
    border-bottom: 1px solid #f15438;
    color: #f15438; }

.starting_cont {
  display: none; }

.borderB, .borderBT, .list_suce, .list_suce ul {
  border-bottom: 1px solid #dcdcdc; }

.borderBT, .list_suce {
  border-top: 1px solid #dcdcdc; }

.ml30 {
  margin-left: -0.375rem; }

.list_suce {
  padding-left: 0.375rem; }
  .list_suce ul {
    padding-right: 0.375rem;
    margin-left: 0.375rem;
    height: 1.85938rem;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    font-size: 0.4375rem;
    color: #282828;
    position: relative; }
    .list_suce ul > li {
      box-flex: 1;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1; }
    .list_suce ul > li:nth-child(1) {
      width: 42%; }
    .list_suce ul > li:nth-child(2) {
      text-align: left;
      width: 37.5%; }
    .list_suce ul > li:nth-child(3) {
      width: 20%;
      text-align: right; }
  .list_suce div.ml30:last-child ul {
    border-bottom: none; }
  .list_suce .icon1 {
    background: url(../img/db.png) 0 0 no-repeat;
    background-size: 100% 100%;
    height: 1.48438rem;
    width: 1.48438rem;
    position: absolute;
    left: 62.72285%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .list_suce .icon2 {
    background: url(../img/dbdis.png) 0 0 no-repeat;
    background-size: 100% 100%;
    height: 1.48438rem;
    width: 1.48438rem;
    position: absolute;
    left: 62.72285%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .list_suce .icon3 {
    background: url(../img/diableImg.png) 0 0 no-repeat;
    background-size: 100% 100%;
    height: 1.48438rem;
    width: 1.48438rem;
    position: absolute;
    left: 62.72285%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .list_suce .colorf15438 {
    color: #f15438; }
  .list_suce .colorb4b4b4 {
    color: #B4B4B4; }

.increase {
  text-align: left;
  display: inline-block; }

.Fsize20 {
  font-size: 0.34375rem; }

/*# sourceMappingURL=tabPage.css.map */
